<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.photo.web.mapper.SharingfilePOMapper" >
  <resultMap id="BaseResultMap" type="com.photo.web.entity.po.SharingfilePO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="article_id" property="articleId" jdbcType="VARCHAR" />
    <result column="filenname" property="filenname" jdbcType="VARCHAR" />
    <result column="filetype" property="filetype" jdbcType="VARCHAR" />
    <result column="filepath" property="filepath" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <!---->

  <insert id="batchInsert" parameterType="java.util.List" >
    insert into tb_sharingfile (article_id, filenname, filetype, filepath, create_time) values
    <foreach collection="list" item="item" separator="," >
      (
      #{item.articleId,jdbcType=VARCHAR},
      #{item.filenname,jdbcType=VARCHAR},
      #{item.filetype,jdbcType=VARCHAR},
      #{item.filepath,jdbcType=VARCHAR},
      #{item.createTime,jdbcType=TIMESTAMP}
      )
    </foreach>

  </insert>

  <select id="selectByArticleId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from tb_sharingfile
    where article_id = #{articleId,jdbcType=VARCHAR}
  </select>

  <resultMap id="resultMapCustom" type="com.photo.web.entity.po.SharingfilePOCustom" extends="BaseResultMap">
    <association property="articlePO" javaType="com.photo.web.entity.po.ArticlePOCustom" column="article_id"
                 select="com.photo.web.mapper.ArticlePOMapper.getArticleBySharingFile"></association>
  </resultMap>

  <select id="getAllSharingfileAndConnectedArticle" resultMap="resultMapCustom" parameterType="com.photo.web.entity.po.SharingfilePOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_sharingfile
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>

  <!---->

  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, article_id, filenname, filetype, filepath, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.photo.web.entity.po.SharingfilePOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_sharingfile
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_sharingfile
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_sharingfile
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.photo.web.entity.po.SharingfilePOExample" >
    delete from tb_sharingfile
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.photo.web.entity.po.SharingfilePO" >
    insert into tb_sharingfile (id, article_id, filenname, 
      filetype, filepath, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{articleId,jdbcType=VARCHAR}, #{filenname,jdbcType=VARCHAR}, 
      #{filetype,jdbcType=VARCHAR}, #{filepath,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.photo.web.entity.po.SharingfilePO" >
    insert into tb_sharingfile
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="articleId != null" >
        article_id,
      </if>
      <if test="filenname != null" >
        filenname,
      </if>
      <if test="filetype != null" >
        filetype,
      </if>
      <if test="filepath != null" >
        filepath,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="articleId != null" >
        #{articleId,jdbcType=VARCHAR},
      </if>
      <if test="filenname != null" >
        #{filenname,jdbcType=VARCHAR},
      </if>
      <if test="filetype != null" >
        #{filetype,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null" >
        #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.photo.web.entity.po.SharingfilePOExample" resultType="java.lang.Integer" >
    select count(*) from tb_sharingfile
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_sharingfile
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.articleId != null" >
        article_id = #{record.articleId,jdbcType=VARCHAR},
      </if>
      <if test="record.filenname != null" >
        filenname = #{record.filenname,jdbcType=VARCHAR},
      </if>
      <if test="record.filetype != null" >
        filetype = #{record.filetype,jdbcType=VARCHAR},
      </if>
      <if test="record.filepath != null" >
        filepath = #{record.filepath,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_sharingfile
    set id = #{record.id,jdbcType=INTEGER},
      article_id = #{record.articleId,jdbcType=VARCHAR},
      filenname = #{record.filenname,jdbcType=VARCHAR},
      filetype = #{record.filetype,jdbcType=VARCHAR},
      filepath = #{record.filepath,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.photo.web.entity.po.SharingfilePO" >
    update tb_sharingfile
    <set >
      <if test="articleId != null" >
        article_id = #{articleId,jdbcType=VARCHAR},
      </if>
      <if test="filenname != null" >
        filenname = #{filenname,jdbcType=VARCHAR},
      </if>
      <if test="filetype != null" >
        filetype = #{filetype,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null" >
        filepath = #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.photo.web.entity.po.SharingfilePO" >
    update tb_sharingfile
    set article_id = #{articleId,jdbcType=VARCHAR},
      filenname = #{filenname,jdbcType=VARCHAR},
      filetype = #{filetype,jdbcType=VARCHAR},
      filepath = #{filepath,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>