<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html>

<head th:insert="~{commons/frontendpart::head('提问',~{::link},~{})}">
    <link th:href="@{/home/style.css}" rel='stylesheet' type='text/css'>
</head>

<body>

<th:block th:insert="~{commons/frontendpart::header(4, null)}"></th:block>

<!-- NAVBAR -->


<div th:insert="~{commons/frontendpart::navbar(~{::div[id='wrapper-sorting']})}">
    <div id="wrapper-sorting">
        <div id="wrapper-title-1" onclick="javascript:window.location.href='/go/to/index/1'">
            <div class="top-rated object">图片</div>
        </div>

        <div id="wrapper-title-2" onclick="javascript:window.location.href='/go/to/article/1'">
            <a href="#">
                <div class="recent object">文章</div>
            </a>
        </div>

        <div id="wrapper-title-3" onclick="javascript:window.location.href='/go/to/question/1'">
            <a href="#">
                <div class="oldies object menu-active">问答</div>
            </a>
        </div>
    </div>
</div>

<div id="wrapper-container">

    <div class="container object">

        <div id="main-container-image">

            <section class="work">

                <figure class="white" th:each="question:${questions.getList()}">
                    <a th:href="@{'/go/to/question/detail/'+${question.id}}">
                        <dl class="questionBox">
                            <dt th:text="${question.title}">问题的标题</dt>
                        </dl>
                    </a>
                    <div id="wrapper-part-info">
                        <div class="part-info-image">
                            <img th:src="@{/images/icon-search.svg}" alt="" width="28" height="28">
                        </div>
                        <div id="part-info" th:text="${question.memberPO.username}"></div>
                        <div class="article-status">
                            <i class="fa fa-commenting-o" aria-hidden="true" th:text="${question.commentCount}"></i>
                        </div>
                    </div>
                </figure>

            </section>

        </div>

    </div>

    <div id="wrapper-oldnew">
        <div class="oldnew">
            <div class="wrapper-oldnew-prev">
                <a id="oldnew-prev"
                   th:href="${questions.getPrePage()==0}?'javascript:return false;':${questions.getPrePage()}"></a>
            </div>
            <div class="wrapper-oldnew-next">
                <a id="oldnew-next"
                   th:href="${questions.getNextPage() == 0} ? 'javascript:return false' : ${questions.getNextPage()}"></a>
            </div>
        </div>
    </div>

    <div th:insert="~{commons/frontendpart::footer}"></div>

</div>

<!-- SCRIPT -->
<th:block th:insert="~{commons/frontendpart::script(~{::script})}">
    <script type="text/javascript" th:src="@{/home/js/main.js}"></script>
</th:block>

</body>

</html>