<!DOCTYPE html>
<html lang="zh-CN">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>注册</title>
    <link rel="stylesheet" type="text/css" th:href="@{/home/vendor/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/home/vendor/font-awesome-4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/home/css/util.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/home/css/login-main.css}">
</head>

<body>

<div class="limiter">
    <div class="container-login100" style="background-color: whitesmoke;">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form class="login100-form validate-form" method="POST" action="/member/register">
                <span class="login100-form-title p-b-49">注册新用户</span>
                <span th:if="${errorMsg} != null" style="color: red;">[[${errorMsg}]]</span>
                <div class="wrap-input100 validate-input m-b-23" data-validate="请输入登录名">
                    <span class="label-input100">登录名</span>
                    <input class="input100" type="text" name="loginacct" placeholder="请输入登录名" autocomplete="off">
                    <span class="focus-input100" data-symbol=""></span>
                </div>
                <div class="wrap-input100 validate-input m-b-23" data-validate="请输入密码">
                    <span class="label-input100">密码</span>
                    <input class="input100" type="password" name="userpswd" placeholder="请输入密码">
                    <span class="focus-input100" data-symbol=""></span>
                </div>
                <div class="wrap-input100 validate-input m-b-23" data-validate="请输入姓名">
                    <span class="label-input100">姓名</span>
                    <input class="input100" type="text" name="username" placeholder="请输入姓名" autocomplete="off">
                    <span class="focus-input100" data-symbol=""></span>
                </div>
                <div class="wrap-input100 validate-input m-b-23" data-validate="请输入邮箱">
                    <span class="label-input100">邮箱</span>
                    <input class="input100" type="email" name="email" placeholder="请输入邮箱" autocomplete="off">
                    <span class="focus-input100" data-symbol=""></span>
                </div>
                <div class="text-right p-t-8 p-b-31"></div>
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">立即注册</button>
                    </div>
                </div>
                <div class="flex-col-c p-t-25">
                    <a href="/go/to/login" class="txt2">返回登录</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script th:src="@{/home/vendor/jquery/jquery-3.2.1.min.js}"></script>
<script th:src="@{/home/js/login-main.js}"></script>
</body>

</html>