!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="zh">

<head th:insert="~{commons/part::head}"></head>

<body  data-theme="dark" data-logobg="default"  data-headerbg="default"  data-sidebarbg="default">
<div class="lyear-layout-web">
    <div class="lyear-layout-container">

        <header th:insert="~{commons/part::header(var='图片管理')}"></header>

        <aside th:insert="~{commons/part::leaf(activeNag =2)}"></aside>

        <!--页面主要内容-->
        <main class="lyear-layout-content">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">

                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>编号</th>
                                            <th>作者</th>
                                            <th>标题</th>
                                            <th>头图</th>
                                            <th>描述</th>
                                            <th>创建时间</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="image: ${images.getList()}" th:object="${image}">
                                            <td th:text="*{id}"></td>
                                            <td th:text="*{memberPO.username}"></td>
                                            <td th:text="*{title}"></td>
                                            <td><img th:src="*{headPic}" width="50px" height="50px"></td>
                                            <td th:with="str=*{description}"
                                                th:text="${#strings.length(str.replaceAll('<.*?>', ' '))>11}?${str.replaceAll('<.*?>', ' ').substring(0, 10)} + '...':${str.replaceAll('<.*?>', ' ')}"></td>
                                            <td th:text="*{#dates.format(createTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                            <td>
                                                <div class="btn-group">
                                                <button type="button"
                                                th:onclick="tableButtonClick(
                                                {id:[[*{id}]],username:[[*{memberPO.username}]],title:[[*{title}]],
                                                description:[[*{description}]],createTime:[[*{#dates.format(createTime, 'yyyy-MM-dd')}]],
                                                headpic:[[*{headPic}]]
                                                })"
                                                data-whatever="@mdo" class="btn btn-primary btn-xs"
                                                data-toggle="modal"
                                                data-target="#exampleModal">编辑
                                                </button>
                                                <button type="button" class="btn btn-danger btn-xs"
                                                th:onclick="deleteMember([[*{id}]]) ">删除
                                                </button>
                                                </div>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <ul class="pagination">
                                    <span hidden th:text="${activeId}"></span>
                                    <li th:class="${images.getPrePage() == 0} ? 'disabled':''"><a
                                            th:href="${images.getPrePage() == 0} ? 'javascript:return false' : ${images.getPrePage()}">«</a></li>
                                    <li th:each="i: ${#numbers.sequence(1, images.getPages())}" class=""
                                        th:classappend="${i == activeId} ? 'active' : ''">
                                        <a th:href="'/backup/image/manage/' + ${i}" th:text="${i}"></a>
                                    </li>
                                    <li th:class="${images.getNextPage() == 0} ? 'disabled':''"><a
                                            th:href="${images.getNextPage() == 0} ? 'javascript:return false' : ${images.getNextPage()}">»</a>
                                    </li>
                                </ul>
                                <span class="hidden" id="modify-or-delete-page" th:value="${activeId}"></span>
                                <span class="hidden" id="add-page" th:value="${images.getNavigateLastPage()}"> </span>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </main>
        <!--End 页面主要内容-->

    </div>
</div>
<!-- dialog -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document" style="width: 650px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">修改</h4>
            </div>
            <div class="modal-body" id="dialog-form-container">
                <form id="update_form">
                    <input type="hidden" name="id" id="dialog-id"/>
                    <div class="form-group">
                        <label for="dialog-username" class="control-label">作者</label>
                        <input type="text" class="form-control" id="dialog-username" readonly
                               title="管理员不得乱改作者">
                    </div>
                    <div class="form-group">
                        <label for="dialog-title" class="control-label">标题</label>
                        <input name="title" type="text" class="form-control" id="dialog-title">
                    </div>

                    <div class="form-group" style="cursor: pointer" title="点击更改头图">
                        <label class="control-label">头图</label>
                        <div>
                            <img id="dialog-headpic" width="250px" height="180px" />
                            <input style="display: none;" type="file" id="uploadFileImage" name="titleImage" value="添加题图" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="dialog-description" class="control-label">描述</label>
                        <!--<textarea rows="5" class="form-control" id="dialog-description" name="description"></textarea>-->
                        <div id="dialog-description">

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="dialog-createTime" class="control-label">创建时间</label>
                        <input type="text" class="form-control" id="dialog-createTime" readonly>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="sendData()">修改</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/backage/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/backage/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/backage/js/perfect-scrollbar.min.js}"></script>
<script type="text/javascript" th:src="@{/backage/js/main.min.js}"></script>
<!--对话框-->
<script type="text/javascript" th:src="@{/backage/js/jconfirm/jquery-confirm.min.js}"></script>
<script type="text/javascript" th:src="@{/home/vendor/wangEditor.min.js}"></script>
<script type="text/javascript">

    //绑定dialog  表单值
    let tableButtonClick = function (data) {
        Object.keys(data).forEach(key => {
            if(key == "description"){
                $("div[contenteditable = 'true']").html(data[key]);
            }
            if(key == "headpic"){
                $("#dialog-headpic").attr("src", data[key]);
            }
            $("#dialog-" + key).val(data[key])
        })
    }

    let deleteMember = function (data) {
        $.confirm({
            title: '删除',
            content: '是否确认删除？',
            buttons: {
                confirm: {
                    text: '确认',
                    action: function () {
                        $.get("/image/delete/" + data, function (data) {
                            var page = $('#modify-or-delete-page').attr('value');
                            window.location.href = "/backup/image/manage/" + page;
                        });
                    }
                },
                cancel: {
                    text: '关闭',
                    action: function () {

                    }
                }
            }
        });
    }

    $('#exampleModal').on('hidden.bs.modal', function (event) {
        console.log(event)
        $('#dialog-form-container').find('input').val('')
    })

    //改变头图
    $('img[id="dialog-headpic"]').click(function () {
        $('input[id="uploadFileImage"]').click();
    })
    //获取图片  加载在题图的img里面
    $("#uploadFileImage").change(function (e) {
        let windowURL = window.URL || window.webkitURL;
        let imgURL = windowURL.createObjectURL(e.currentTarget.files[0]);
        window.titleImage = e.currentTarget.files[0]//把图片暴露到全局作用域中
        $('#dialog-headpic').attr('src', imgURL)
    })

</script>

<script type="text/javascript">
    jQuery(document).ready(function ($) {

        //创建富文本实例
        initEditor()
    });
    //数据传送
    function sendData() {
        let data = new FormData()
        //参数
        data.append('headpic', window.titleImage || '')
        data.append('id', $('#dialog-id').val())
        data.append('title', $('#dialog-title').val())
        data.append('description', window.editor.txt.html())
        $.ajax({
            url: 'http://localhost:8080/image/modify',
            type: 'POST',
            cache: false,
            data: data,
            contentType: false,//此项不能去掉
            processData: false,//此项不能去掉
            success: function (res) {
                var page = $('#modify-or-delete-page').attr('value');
                window.location.href = "/backup/image/manage/" + page;
                $('#exampleModal').modal('hide');
            },
            error: function (err) {
                console.log(err);

            }
        })
    }
    //创建富文本实例
    function initEditor() {

        var E = window.wangEditor
        window.editor = new E('#dialog-description')
        //初始化菜单选项
        editor.customConfig.menus = [
            'head',  // 标题
            'bold',  // 粗体
            'fontSize',  // 字号
            'fontName',  // 字体
            'italic',  // 斜体
            'underline',  // 下划线
            'strikeThrough',  // 删除线
            'foreColor',  // 文字颜色
            'backColor',  // 背景颜色
            'link',  // 插入链接
            'list',  // 列表
            'justify',  // 对齐方式
            'quote',  // 引用
            'emoticon',  // 表情
            'image',  // 插入图片
            'table',  // 表格
            'undo',  // 撤销
            'redo'  // 重复
        ]
        //图片上传的url
        editor.customConfig.uploadImgServer = 'http://localhost:8080/upload';
        editor.customConfig.uploadImgHeaders = {
            'enctype': 'multipart/form-data'
        };
        editor.customConfig.uploadFileName = 'file';
        editor.create()
    }
</script>
</body>

</html>